[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
uuid = "*"
python-dotenv = "*"
urllib3 = "*"
zeep = "*"

[dev-packages]

[requires]
python_version = "3"
